.date-selector {
    background: #181c1c;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4e5d5d;
    margin-bottom: 1rem;

    &__input {
        height: min-content;
        background: #181c1c;
        color: #eee;
        border: none;
    }
}
