.date-selector {
    background: #000;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 1rem;

    &__input {
        height: min-content;
        background: #000;
        color: #eee;
        border: none;
    }
}
