@use "../../assets/css/colors";

.date-selector {
    background: colors.$accent;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darken(colors.$accent, 5%);
    margin-bottom: 1rem;
    border-radius: 10px;

    &__input {
        height: min-content;
        background: colors.$accent;
        color: #333333;
        border: none;
    }
}
