@use "../../assets/css/colors";

.booking-chart {
    table-layout: fixed;
    // width: 420px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-spacing: 2px;

    user-select: none;

    &__row {
        height: 1rem;
    }

    &__header-cell,
    &__row-header-cell,
    &__booking-cell {
        // border: 1px solid #4e5d5d;
        border-radius: 3px;
        // padding: 5px 0;
        text-align: center;
        overflow: hidden;
        min-width: 22px;
        font-weight: normal;
    }

    &__header-cell {
        &:first-child {
            width: 45px;
        }
    }

    &__booking-cell {
        cursor: pointer;
        background: colors.$available;
        height: 23px;

        &:active {
            background: darken(colors.$available, 1%);
        }

        &._available {
            &:hover {
                background: lighten(colors.$available, 3%);
            }
        }
        &._on-same-row {
            cursor: not-allowed;
            &:hover {
                background: lighten(colors.$available, 3%);
            }
        }
        &._selected {
            background: colors.$selected;
            &:hover {
                background: lighten(colors.$selected, 3%);
            }
            &:active {
                background: darken(colors.$selected, 1%);
            }
        }
        &._booking {
            cursor: inherit;
            background: colors.$booking;
            &:hover {
                background: lighten(colors.$booking, 3%);
            }
            &:active {
                background: darken(colors.$booking, 1%);
            }
        }
        &._user-booking {
            background: colors.$user-booking;
            &:hover {
                background: lighten(colors.$user-booking, 3%);
            }
            &:active {
                background: darken(colors.$user-booking, 1%);
            }
        }
        &._selected-user-booking {
            background: colors.$selected-user-booking;
            &:hover {
                background: lighten(colors.$selected-user-booking, 3%);
            }
            &:active {
                background: darken(colors.$selected-user-booking, 1%);
            }
        }
    }
}
