.booking-chart {
    border-collapse: collapse;
    table-layout: fixed;
    width: 420px;
    background: #181c1c;

    &__header-cell,
    &__row-header-cell,
    &__booking-cell {
        border: 1px solid #4e5d5d;
        padding: 5px 0;
        text-align: center;
        overflow: hidden;
        &:last-child {
            border-right: 1px solid #4e5d5d;
        }
    }
}
