@use "../../assets/css/colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: colors.$background;
    color: #121212;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.page {
    height: 100%;
    display: grid;
    grid-template-areas:
        'menu main'
        'menu footer';
    grid-template-columns: 280px auto;
    grid-template-rows: auto 1fr;

    &__menu {
        grid-area: menu;
    }
    &__main {
        grid-area: main;
        margin: auto;
        padding: 4rem 2rem;
    }
    &__footer {
        grid-area: footer;
        background: red;
    }
}

.heading {
    margin-bottom: 1rem;
}

.sub-page-nav {
    &__link {
    }

    margin-bottom: 1rem;
}
