@use "../../assets/css/colors";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: colors.$background;
    color: #121212;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.page {
    display: flex;
    height: 100%;

    &__menu {
        width: 200px;
        padding: 2rem;
        background: #f8d496;
    }
    &__main {
        margin: auto;
        padding: 2rem;
    }
}

.heading {
    margin-bottom: 1rem;
}
