@use "../../assets/css/colors";

.booking-form {
    display: flex;
    &__invitations {
        margin-top: 1rem;
        flex: 4;
    }
    &__buttons {
        margin-top: 1rem;
        flex: 3;
    }
    &__submit {
        display: block;
        margin: auto;
        background-color: darken(colors.$selected, 2%);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &._hidden {
            display: none;
        }
        &._cancel {
            background: darken(colors.$selected-user-booking, 6%);
        }
    }
}
