@use "../../assets/css/colors";

.booking-form {
    display: flex;
    &__invitations {
        margin-top: 1rem;
        flex: 4;
    }
    &__buttons {
        margin-top: 1rem;
        flex: 3;
    }
    &__submit {
        display: block;
        margin: auto;
        background-color: darken(colors.$selected, 2%);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &._hidden {
            display: none;
        }
        &._cancel {
            background: darken(colors.$selected-user-booking, 6%);
        }
    }
}

.invitations {
    &__header {
        margin: 0.2rem 0.4rem;
    }
    &__list {
        list-style-type: none;
        // border: 1px solid #daae9b;
        height: 300px;
        overflow-x: scroll;
    }
    &__list-item {
    }
    &__label {
        user-select: none;
        display: flex;
        width: 100%;
        cursor: pointer;
        border: 3px solid #fff0e7;
        background: colors.$accent;
        padding: 1rem;
    }
    &__input {
        cursor: pointer;
        // flex: 1;
    }
    &__text {
        padding: 0.5rem 1rem;
        user-select: text;
        // flex: 1;
    }
    &__name {
        margin-bottom: 0.4rem;
    }
    &__email {
        opacity: 60%;
    }
}
